beautifulsoup4==4.13.4
beets==2.3.1
certifi==2025.4.26
charset-normalizer==3.4.2
confuse==2.0.1
filetype==1.2.0
idna==3.10
jellyfish==1.2.0
langdetect==1.0.9
lap==0.5.12
mediafile==0.13.0
musicbrainzngs==0.7.1
mutagen==1.47.0
numpy==2.3.0
pillow==11.2.1
platformdirs==4.3.8
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
Unidecode==1.4.0
urllib3==2.4.0
